$!msgOut详情
  <table class="table">
                <tr>
              <td>短信内容</td>
              <td>
                  $!msgOutDO.msgText
              </td>
          </tr>

                <tr>
              <td>发送时间</td>
              <td>
                  $!msgOutDO.gmtCreate
              </td>
          </tr>

                <tr>
              <td>接收方手机号</td>
              <td>
                  $!msgOutDO.recv
              </td>
          </tr>

        </table>
