<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guda.red.dao.TaobaoTokenDOMapper">
  <resultMap id="BaseResultMap" type="guda.red.dao.domain.TaobaoTokenDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="taobao_user_id" jdbcType="VARCHAR" property="taobaoUserId" />
    <result column="taobao_user_nick" jdbcType="VARCHAR" property="taobaoUserNick" />
    <result column="token_type" jdbcType="VARCHAR" property="tokenType" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="expires_in" jdbcType="BIGINT" property="expiresIn" />
    <result column="r1_expires_in" jdbcType="BIGINT" property="r1ExpiresIn" />
    <result column="r2_expires_in" jdbcType="BIGINT" property="r2ExpiresIn" />
    <result column="w1_expires_in" jdbcType="BIGINT" property="w1ExpiresIn" />
    <result column="w2_expires_in" jdbcType="BIGINT" property="w2ExpiresIn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, taobao_user_id, taobao_user_nick, token_type, access_token, expires_in, r1_expires_in, 
    r2_expires_in, w1_expires_in, w2_expires_in
  </sql>
  <select id="selectByExample" parameterType="guda.red.dao.domain.TaobaoTokenDOCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from taobao_token
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startRow &gt;= 0">
      limit ${startRow} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taobao_token
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from taobao_token
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="guda.red.dao.domain.TaobaoTokenDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_token (taobao_user_id, taobao_user_nick, token_type, 
      access_token, expires_in, r1_expires_in, 
      r2_expires_in, w1_expires_in, w2_expires_in
      )
    values (#{taobaoUserId,jdbcType=VARCHAR}, #{taobaoUserNick,jdbcType=VARCHAR}, #{tokenType,jdbcType=VARCHAR}, 
      #{accessToken,jdbcType=VARCHAR}, #{expiresIn,jdbcType=BIGINT}, #{r1ExpiresIn,jdbcType=BIGINT}, 
      #{r2ExpiresIn,jdbcType=BIGINT}, #{w1ExpiresIn,jdbcType=BIGINT}, #{w2ExpiresIn,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="guda.red.dao.domain.TaobaoTokenDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taobaoUserId != null">
        taobao_user_id,
      </if>
      <if test="taobaoUserNick != null">
        taobao_user_nick,
      </if>
      <if test="tokenType != null">
        token_type,
      </if>
      <if test="accessToken != null">
        access_token,
      </if>
      <if test="expiresIn != null">
        expires_in,
      </if>
      <if test="r1ExpiresIn != null">
        r1_expires_in,
      </if>
      <if test="r2ExpiresIn != null">
        r2_expires_in,
      </if>
      <if test="w1ExpiresIn != null">
        w1_expires_in,
      </if>
      <if test="w2ExpiresIn != null">
        w2_expires_in,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taobaoUserId != null">
        #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="taobaoUserNick != null">
        #{taobaoUserNick,jdbcType=VARCHAR},
      </if>
      <if test="tokenType != null">
        #{tokenType,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        #{expiresIn,jdbcType=BIGINT},
      </if>
      <if test="r1ExpiresIn != null">
        #{r1ExpiresIn,jdbcType=BIGINT},
      </if>
      <if test="r2ExpiresIn != null">
        #{r2ExpiresIn,jdbcType=BIGINT},
      </if>
      <if test="w1ExpiresIn != null">
        #{w1ExpiresIn,jdbcType=BIGINT},
      </if>
      <if test="w2ExpiresIn != null">
        #{w2ExpiresIn,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="guda.red.dao.domain.TaobaoTokenDOCriteria" resultType="java.lang.Integer">
    select count(*) from taobao_token
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="guda.red.dao.domain.TaobaoTokenDO">
    update taobao_token
    <set>
      <if test="taobaoUserId != null">
        taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="taobaoUserNick != null">
        taobao_user_nick = #{taobaoUserNick,jdbcType=VARCHAR},
      </if>
      <if test="tokenType != null">
        token_type = #{tokenType,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        expires_in = #{expiresIn,jdbcType=BIGINT},
      </if>
      <if test="r1ExpiresIn != null">
        r1_expires_in = #{r1ExpiresIn,jdbcType=BIGINT},
      </if>
      <if test="r2ExpiresIn != null">
        r2_expires_in = #{r2ExpiresIn,jdbcType=BIGINT},
      </if>
      <if test="w1ExpiresIn != null">
        w1_expires_in = #{w1ExpiresIn,jdbcType=BIGINT},
      </if>
      <if test="w2ExpiresIn != null">
        w2_expires_in = #{w2ExpiresIn,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="guda.red.dao.domain.TaobaoTokenDO">
    update taobao_token
    set taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      taobao_user_nick = #{taobaoUserNick,jdbcType=VARCHAR},
      token_type = #{tokenType,jdbcType=VARCHAR},
      access_token = #{accessToken,jdbcType=VARCHAR},
      expires_in = #{expiresIn,jdbcType=BIGINT},
      r1_expires_in = #{r1ExpiresIn,jdbcType=BIGINT},
      r2_expires_in = #{r2ExpiresIn,jdbcType=BIGINT},
      w1_expires_in = #{w1ExpiresIn,jdbcType=BIGINT},
      w2_expires_in = #{w2ExpiresIn,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>