
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/cache" xsi:schemaLocation="http://www.springframework.org/schema/cache         http://www.springframework.org/schema/cache/spring-cache-3.1.xsd         http://www.springframework.org/schema/beans         http://www.springframework.org/schema/beans/spring-beans-3.1.xsd         http://www.springframework.org/schema/context         http://www.springframework.org/schema/context/spring-context-3.1.xsd         http://www.springframework.org/schema/mvc         http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
 <bean id="accountBiz" class="guda.red.biz.impl.AccountBizImpl"/>
 <bean id="accountDetailBiz" class="guda.red.biz.impl.AccountDetailBizImpl"/>
 <bean id="taobaoBuyerBiz" class="guda.red.biz.impl.TaobaoBuyerBizImpl"/>
 <bean id="taobaoOrderBiz" class="guda.red.biz.impl.TaobaoOrderBizImpl"/>
 <bean id="taobaoSellerBiz" class="guda.red.biz.impl.TaobaoSellerBizImpl"/>
 <bean id="taobaoTokenBiz" class="guda.red.biz.impl.TaobaoTokenBizImpl"/>
 <bean id="templateBiz" class="guda.red.biz.impl.TemplateBizImpl"/>

    <bean id="taobaoAPIConfig" class="guda.red.biz.taobao.TaobaoAPIConfig">
        <property name="appKey" value="${taobao.appKey}"/>
        <property name="appSecret" value="${taobao.appSecret}"/>
        <property name="defaultUrl" value="${taobao.defaultUrl}"/>
        <property name="redirectUri" value="${taobao.redirectUri}"/>
        <property name="taobaoOauthUrl" value="${taobao.taobaoOauthUrl}"/>
        <property name="taokenUri" value="${taobao.taokenUri}"/>
        <property name="apiUrl" value="${taobao.apiUrl}"/>
    </bean>
</beans>
