
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/cache" xsi:schemaLocation="http://www.springframework.org/schema/cache         http://www.springframework.org/schema/cache/spring-cache-3.1.xsd         http://www.springframework.org/schema/beans         http://www.springframework.org/schema/beans/spring-beans-3.1.xsd         http://www.springframework.org/schema/context         http://www.springframework.org/schema/context/spring-context-3.1.xsd         http://www.springframework.org/schema/mvc         http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
 <bean id="accountDOMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="guda.red.dao.AccountDOMapper"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
 </bean>
 <bean id="accountDetailDOMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="guda.red.dao.AccountDetailDOMapper"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
 </bean>
 <bean id="taobaoBuyerDOMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="guda.red.dao.TaobaoBuyerDOMapper"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
 </bean>
 <bean id="taobaoOrderDOMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="guda.red.dao.TaobaoOrderDOMapper"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
 </bean>
 <bean id="taobaoSellerDOMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="guda.red.dao.TaobaoSellerDOMapper"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
 </bean>
 <bean id="taobaoTokenDOMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="guda.red.dao.TaobaoTokenDOMapper"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
 </bean>
 <bean id="templateDOMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="guda.red.dao.TemplateDOMapper"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
 </bean>
 <bean id="msgOutDOMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="guda.red.dao.MsgOutDOMapper"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
 </bean>
</beans>
