<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">会员信息</strong> / <small>我的会员</small></div>
    </div>
   <div class="am-g">
       <table  class="am-table">
           <thead>
           <tr>
               <th>淘宝昵称</th>
               <th>手机号码</th>
               <th>地址</th>
               <th>活跃时间</th>
               <th>操作</th>
           </tr>
           </thead>
           #foreach($f in $taobaoBuyerDOList)
               <tr>
                   <td>$!f.taobaoNick</td>
                   <td>$!f.phone</td>
                   <td>$!f.address</td>
                   <td>$date.format($!f.gmtCreated)</td>
                   <td><a href="$!homeServer.getURI("member/edit.htm").addQueryData('id',"$!f.id")" >编辑</a></td>
                   <td><a href="$!homeServer.getURI("member/doDelete.htm").addQueryData('id',"$!f.id")" onclick="return confirm('确定删除吗?')">删除</a></td>
               </tr>
           #end
       </table>

       $tile.load('template/common/page.vm').param('query',$query).param('path','member/list.htm')
   </div>
</div>
