<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">营销概况</strong></div>
    </div>
    <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>今日发送量<br/><span class="J_today_send"></span></a></li>
        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>今日订单<br/><span class="J_today_order"></span></a></li>
        <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>昨日发送量<br/><span class="J_last_send"></span></a></li>
        <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>昨日订单<br/><span class="J_last_order"></span></a></li>
    </ul>
</div>

<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">我的营销方案</strong></div>
    </div>
<form class="am-form">
    <div class="am-u-sm-2 am-u-md-2 am-text-right"> 催付款:<span class="J_wait_pay
    #if($msgNotice.waitPay == 1)
      am-icon-toggle-on
    #else
     am-icon-toggle-off
    #end am-icon-md"> </span><small><br>当前状态:
        #if($msgNotice.waitPay == 1)
            <span class="J_wait_pay_text">打开</span>
        #else
            <span class="J_wait_pay_text">关闭</span>
        #end
    </small></div>
    <div class="am-u-sm-2 am-u-md-2 am-text-right"> 发货通知:<span class="J_send_item
    #if($msgNotice.sendItem == 1)
      am-icon-toggle-on
    #else
     am-icon-toggle-off
    #end am-icon-md"> </span><small><br>当前状态:
        #if($msgNotice.sendItem == 1)
            <span class="J_send_item_text">打开</span>
        #else
            <span class="J_send_item_text">关闭</span>
        #end
    </small></div>
    <div class="am-u-sm-2 am-u-md-2 am-text-right"> 到货提醒:<span class="J_recv_item
    #if($msgNotice.recvItem == 1)
      am-icon-toggle-on
    #else
     am-icon-toggle-off
    #end am-icon-md"> </span><small><br>当前状态:
        #if($msgNotice.recvItem == 1)
            <span class="J_recv_item_text">打开</span>
        #else
            <span class="J_recv_item_text">关闭</span>
        #end
    </small></div>
    <div class="am-u-sm-2 am-u-md-2 am-text-right"> 签收关怀:<span class="J_sign
    #if($msgNotice.sign == 1)
      am-icon-toggle-on
    #else
     am-icon-toggle-off
    #end am-icon-md"> </span><small><br>当前状态:
        #if($msgNotice.sign == 1)
            <span class="J_sign_text">打开</span>
        #else
            <span class="J_sign_text">关闭<span>
        #end
    </small></div>
    <div class="am-u-sm-2 am-u-md-2 am-text-right"> 好评关怀:<span class="J_positive_comment
    #if($msgNotice.positiveComment == 1)
      am-icon-toggle-on
    #else
     am-icon-toggle-off
    #end am-icon-md"> </span><small><br>当前状态:
        #if($msgNotice.positiveComment == 1)
            <span class="J_positive_comment_text">打开</span>
        #else
            <span class="J_positive_comment_text">关闭</span>
        #end
    </small></div>
    <div class="am-u-sm-2 am-u-md-2 am-text-right"> 退款关怀:<span class="J_refund
    #if($msgNotice.refund == 1)
      am-icon-toggle-on
    #else
     am-icon-toggle-off
    #end am-icon-md"> </span><small><br>当前状态:
        #if($msgNotice.refund == 1)
            <span class="J_refund_text">打开</span>
        #else
            <span class="J_refund_text">关闭</span>
        #end
    </small></div>

</form>
</div>

<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">我的余量</strong></div>
    </div>

        <div class="am-u-sm-4 am-u-md-3 am-text-right">短信余量 :<span>0</span> 条 <a href="$homeServer.getURI('charge/index.htm')" class="am-btn am-btn-warning">充值</a></div>

</div>
<script src="$!homeServer.getURI("assets/js/index.js")"></script>