<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">我的账户</strong> /
            <small>账户变更记录</small>
        </div>
    </div>

    <table class="am-table">
        <thead>
        <tr>
            <th class="text-left">交易号</th>
            <th class="text-left">资金变动</th>
            <th class="text-left">说明</th>
            <th class="text-left">时间</th>
        </tr>
        </thead>

        #foreach($f in $accountDetailDOList)
            <tr>
                <td> $!f.id</td>
                <td>
                    #if($!f.direction == 1)
                        +
                    #else
                        -
                    #end $price.formatCNY($!f.amount)</td>
                <td>$!f.remark</td>
                <td> $dateHelper.formatYMD( $!f.gmtCreated )</td>
            </tr>
        #end
    </table>
    $tile.load('template/common/page.vm').param('query',$query).param('path','/account/accountList.htm')

</div>